html, body, #app {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
}

nav, header{
    background-color: #2B2F48;
    color: #FFFFFF;
}

nav{
    height: 3rem;
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 0.9rem;
    color: rgba(255,255,255,0.8);
}
nav a {
    color: rgba(255,255,255,0.8);
    font-weight: 700;
    text-decoration: none;
}
header {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    flex-grow: 1;
    max-width: 60rem;
    margin: 0 auto;
}

header .container {
    max-width: 30rem;
    max-height: 15rem;
    display: flex;
    flex-direction: column;
}
header .container .img {
    text-align: center;
}

header .container .search input {
    height: 3rem;
    width: 100%;
    margin-top: 1rem;
    border-radius: 1.5rem;
    background-color: #22263A;
    color: #FFFFFF;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5rem;
    box-sizing: border-box;
}
header .container .search input:focus {
    outline: none;
}

.row {
    padding-left: 1rem;
    padding-right: 1rem;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin-top: 1rem;
}

.card .title {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .btns {
    display: flex;
}

.card .btns .elm {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .btns .elm:hover {
    background-color: rgba(0,0,0,0.05);
}

.copy {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    display: block;
    opacity: 0.7;
}

.copy a {
    display: inline;
    font-size: 1.2rem;
    text-align: center;
    opacity: 0.7;
}